header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333; 
    color: white; 
  }
  
  .logo img {
    height: 60px; /* Ajusta el tamaño del logo */
  }
  
  .nombreEmpr h1 {
    margin: 0;
    font-size: 24px;
    color: #4caf50; 
  }
  
  .nombreEmpr p {
    margin: 0;
    font-size: 12px;
    color: #999;
  }
  


 

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grupo-formulario {
    margin-bottom: 15px;
}

.grupo-formulario label {
    display: block;
    margin-bottom: 5px;
}

.grupo-formulario input[type="text"],
.grupo-formulario input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.tipo-entrega {
    display: flex;
    gap: 20px;
}

.tipo-entrega label {
    display: inline-block;
    margin-right: 10px;
}

.botones-formulario {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#iniciarCompra {
    background-color: #28a745;
    color: white;
}

#limpiarCampos {
    background-color: #dc3545;
    color: white;
}









  


  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
  }
  
  footer a {
    color: #4caf50; /* Verde de tu logo */
    text-decoration: none;
    margin: 0 5px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  .contenido p {
    margin: 5px 0;
  }
  
  .links a {
    margin: 0 5px;
  }
  